@media screen and (min-width: 768px) {
  .profile__area {
    width: auto;
    margin-left: 280px;
    display: flex;
    flex-direction: column;
    padding-top: 8rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .pets {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    .pet__card {
      overflow: hidden;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      background: #fff;
      border-radius: 10px;
      min-height: 300px;
      .pet__image {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -10%);
        width: 100px;
        height: 100px;
        border-radius: 50%;
        img {
          width: 100%;
          height: 100%;
          border-radius: inherit;
          object-fit: cover;
        }
      }

      .pet__content {
        padding: 1rem;
        width: 100%;
        position: absolute;
        bottom: 0%;
        left: 50%;
        text-align: center;
        transform: translate(-50%, 0%);

        .name {
          font-size: 2rem;
          margin-bottom: 1rem;
          font-weight: 300;
        }

        .info {
          margin-bottom: 1rem;
          span {
            font-weight: bold;
            margin-right: 1rem;
            font-size: 1.5rem;
          }
        }

        .interactions {
          margin-bottom: 1rem;
          width: 100%;
          text-align: center;
          padding: 1rem;

          .btn {
            font-size: 1.8rem;
            margin-right: 1rem;
            padding: 0 0.5rem;
            background: none;
            display: inline-flex;
            align-items: center;
            span:not(:last-child) {
              margin-right: 0.5rem;
              padding: 0.5rem;
              border-radius: 20px;
              display: inline-grid;
              place-items: center;
              transition: all 0.5s ease-in;
            }

            &:hover {
              span:not(:last-child) {
                background: #e297a9;
              }
            }
          }
        }

        .details {
          width: 100%;
          border-radius: 20px;
          padding: 1rem 2rem;
          font-size: 1.5rem;
          outline: none;
          border: 1px solid #a11435;
          font-weight: 600;
          transition: all 0.5s ease-in;
          color: #a11435;
          background: #fff;
          &:hover {
            background: #e297a9;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .profile__area {
    margin-left: 280px;
  }

  .pets {
    grid-template-columns: repeat(3, 1fr);
  }
}
