@media screen and (min-width: 500px) {
  .profile__area {
    width: 100%;
    .pets {
      display: grid;
      width: 100%;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }
  }
}

@media screen and (min-width: 1200px) {
  .profile__area {
    width: 100%;
    .pets {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
