@media screen and (min-width: 768px) {
  .profile__area {
    width: auto;
    margin-left: 280px;
    display: flex;
    flex-direction: column;
    padding-top: 8rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .pets {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

@media screen and (min-width: 1200px) {
  .profile__area {
    margin-left: 280px;
  }

  .pets {
    grid-template-columns: repeat(3, 1fr);
  }
}
