.search__panel {
  display: none;
}

@media screen and (min-width: 768px) {
  .search__panel {
    display: block;
    position: fixed;
    top: 8rem;
    background: #a11435;
    width: 280px;
    height: 100%;
    z-index: 1;
    padding: 0 2rem 4rem;
    color: #eee;

    .panel__card {
      width: 100%;
      .title {
        position: relative;
        font-size: 2rem;
        margin-bottom: 2rem;
  
        &:after {
          position: absolute;
          content: "";
          left: 0;
          bottom: -10px;
          width: 100%;
          height: 1px;
          background: #eee;
          opacity: 0.6;
        }
      }
  
      .list {
        margin-bottom: 1.5rem;
        
        li {
          margin-bottom: 1rem;
          display: flex;
          align-items: center;
  
          input[type="checkbox"] {
            position: relative;
            width: 1.5em;
            height: 1.5em;
            color: #000;
            border: 1px solid #eee;
            border-radius: 4px;
            appearance: none;
            outline: 0;
            cursor: pointer;
            transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
            &::before {
              position: absolute;
              content: '';
              display: block;
              top: 2px;
              left: 5px;
              width: 5px;
              height: 10px;
              border-style: solid;
              border-color: white;
              border-width: 0 2px 2px 0;
              transform: rotate(45deg);
              opacity: 0;
            }
            &:checked {
              color: white;
              border-color: #a11435;
              background: #a11435;
              &::before {
                opacity: 1;
              }
              ~ label::before {
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
              }
            }
          }
  
          label {
            position: relative;
            cursor: pointer;
            font-size: 1.5rem;
            font-weight: 600;
            padding: 0 0.25rem 0;
            user-select: none;
          }
        }
      }

      .search__input {
        width: 100%;
        background: #fff;
        border-radius: 5px;
        
        input {
          height: 55px;
          width: 100%;
          border-radius: 5px;
          outline: none;
          border: none;
          padding: 0 2rem 0 1rem;
          font-size: 1.5rem;
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
        }

        .match__box {
          padding: 0;
          max-height: 280px;
          overflow-y: auto;
          opacity: 0;
          pointer-events: none;

          li {
            border-radius: 3px;
            padding: 0.8rem 1.2rem;
            cursor: default;
            width: 100%;
            background: #fff;
            display: none;
            button {
              display: block;
              text-align: left;
              background: none;
              border: none;
              outline: none;
              color: #000;
              width: 100%;
            }

            &:hover {
              background: #f5f5f5;
            }
          }
        }

        &.active {
          .match__box {
            padding: 1rem 0.8rem;
            opacity: 1;
            pointer-events: auto;
            
            li {
              display: block;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .search__panel {
    width: 300px;
    left: 10rem;
  }
}
