.profile__sidebar {
  display: none;
  visibility: hidden;
}

@media screen and (min-width: 768px) {
  .profile__sidebar {
    display: block;
    position: fixed;
    top: 0;
    width: 280px;
    height: 100%;
    z-index: 1;
    padding: 0 2rem 4rem;
    color: #eee;
    background: #fff;
    .nav-container {
      margin-top: 8rem;
    }
  }
}
