@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');
@import './assets/styles/variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

html,
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: $fw-default;
  background: linear-gradient(145deg, #a11435, #e297a9);
}

body {
  font-size: 62.5%;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  background: none;
}

img {
  object-fit: cover;
}

// a {
//   text-decoration: none;
//   color: $light-text-color;
// }

li {
  list-style: none;
}

.bookmark {
  background: transparent;
  padding: 0.5rem;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.bookmark:hover {
  background: #eee;
}

.lg {
  display: none;
  visibility: hidden;
}

@media screen and (min-width: 768px) {
  .lg {
    visibility: visible;
  }
}

.bg-dark {
  background-color: #000;
  opacity: 0.5;
}

.bg-transparent {
  background-color: transparent;
}

.heading_6 {
  font-size: 1.6rem;
  font-weight: $fw-bolder;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border: 2px solid $inactive-text-color;
  border-bottom-color: $light-hover-color;
  animation: loading 500ms linear infinite;
  border-radius: 50%;
  z-index: 1200;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.button {
  outline: none;
  border: none;
  cursor: pointer;
  background: none;
  font-weight: 400;
  font-size: 1.6rem;
  padding: 0.8rem 1.8rem;
  border-radius: 5px;
}

.button:disabled {
  background: $inactive-color;
  color: $inactive-text-color;
  cursor: default;
}

.button-primary {
  width: 100%;
  background: $primary-color;
  color: #fff;
}

.button-outline {
  border: 1.5px solid $primary-color;
}

.button-outline:disabled {
  border-color: $inactive-color;
}

.button-social {
  border-radius: 8px;
}

.facebook {
  color: #fff;
  background: #3b5998;
}

.google {
  color: #4a4a4a;
  border: 1px solid #4a4a4a;
}

.field {
  width: 100%;
  margin-bottom: 2rem;
  text-align: left;
}

.input {
  width: 100%;
  padding: $default-input-padding;
}

.field__error {
  color: $text-error-color;
  font-size: 1.4rem;
  font-weight: 400;
}

.link {
  font-size: 2rem;
  font-weight: 400;
  text-decoration: none;
  color: $dark-text-color;
}

.link_text {
  padding: 1rem;
  background: transparent;
  border-radius: 20px;
  transition: background 0.5s ease-in;
}

.link_text:hover {
  background: #eee;
}

.primary_link-text {
  background: #a11435;
  color: #fff;
  transition: all 0.5s ease-in;
}

.logo_link {
  font-size: 4rem;
  color: $light-text-color;
  font-weight: $fw-bolder;
}

.nav_link {
  display: block;
  margin-bottom: 2rem;

  &:hover {
    .link_text {
      background: #eee;
    }

    .primary_link-text {
      background: $light-hover-color;
      opacity: 0.8;
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  z-index: 800;
}

.z-index-2000 {
  z-index: 2000;
}

.radio__group {
  display: flex;
  width: 100%;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  height: 3rem;
  border: 1px solid $light-text-color;
  outline: none;
  border-radius: 5px;
  padding: 1rem;
  background: #fff;
  font-size: 1.6rem;
  font-weight: 300;
  color: $light-text-color;
  padding: 0.5rem;
  letter-spacing: 4px;
}

input[type="radio"] {
  padding: 0.5rem;
}

.textarea {
  width: 100%;
  resize: none;
  border-radius: 10px;
  padding: 0.5rem;
  outline: none;
  border: 1px solid #ccc;
}

.range {
  width: 100%;
  height: 4rem;
  text-align: center;
  padding: 0 4rem 0 2rem;
}

.range__value {
  position: relative;
  width: 100%;
}

.range__value span {
  position: absolute;
  top: -18px;
  width: 20px;
  height: 20px;
  color: #fff;
  transform: translateX(-50%) scale(0);
  transform-origin: bottom;
  line-height: 30px;
  z-index: 2;
  font-size: 1rem;
  transition: transform 0.3s ease-in-out;
  font-weight: 700;
}

.range__value span.show {
  transform: translateX(-50%) scale(1);
}

.range__value span::after {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  border: 3px solid #fff;
  background: #a11435;
  z-index: -1;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.range__field {
  position: relative;
  display: flex;
  align-items: center;
  // justify-content: center;
  height: 100%;
}

.range__field .value {
  position: absolute;
  font-size: 2rem;
  color: #000;
}

.value.left {
  left: -22px;
}

.value.right {
  right: -43px;
}

.range__field input {
  -webkit-appearance: none;
  height: 3px;
  width: 100%;
  background: #a11435;
  border-radius: 5px;
  outline: none;
  border: none;
}

.range__field input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
  width: 20px;
  background: #a11435;
  border-radius: 50%;
  border: 1px solid #a11435;
  cursor: pointer;
}

.range__field input::-moz-range-progress {
  background: #a11435;
}

.radio__label {
  font-size:  2rem;
  color: #000;
  margin-right: 2rem;
}

.label {
  display: block;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.mx-2 {
  margin-right: 0.5rem;
}

.icon.rounded {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #ccc;
  display: grid;
  place-items: center;
}

.menu {
  background: none;
  font-size: 3rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.close {
  background: none;
}

.btn {
  width: 48%;
  padding: 1rem 1.8rem;
  border-radius: 10px;
  font-weight: 700;
}

.btn__primary {
  background: #a11435;
  color: #fff;
}

.btn__secondary {
  margin-right: 1rem;
  background: #3b5998;
  color: #fff;
}

.auth-container {
  min-height: 720px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
  margin-top: -5rem;

  .container {
    width: 100%;
    max-width: 68rem;
    position: relative;
    height: 48.5rem;
    border-radius: 10px;
    box-shadow:
      0 14px 28px rgba(0, 0, 0, 0.25),
      0 10px 10px rgba(0, 0, 0, 0.22);
    display: flex;
    justify-content: space-between;
    overflow: hidden;
  }

  .form-container {
    height: 100%;
    width: 50%;
    position: relative;

    .signup-container,
    .login-container {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;

      form {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2rem;

        h1 {
          font-size: 2.5rem;
          font-weight: bold;
          margin-bottom: 2rem;
          width: 100%;
        }

        .switch-buttons {
          width: 100%;
          margin-bottom: 2rem;

          .button:first-child {
            margin-right: 2rem;
          }
        }

        .continue-with {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          margin-bottom: 2rem;
          align-items: center;

          .button:first-child {
            margin-bottom: 1rem;
          }
        }

        .or {
          width: 100%;
          display: flex;
          align-items: center;
          margin-bottom: 2rem;

          .left {
            width: 40%;
            height: 1px;
            background: #000;
          }

          .text {
            margin: 0 2rem;
            font-size: 2rem;
          }

          .right {
            width: 40%;
            height: 1px;
            background: #000;
          }
        }
      }
    }

    .login-container {
      left: 0;
      transition: transform 0.3s ease-in-out;
    }

    .signup-container {
      right: 0;
      transform: translateX(100%);
      opacity: 0;
      transition: transform 0.3s ease-in-out;
      z-index: 5;
    }

    &.slide {
      .login-container {
        transform: translateX(-100%);
        opacity: 0;
      }

      .signup-container {
        transform: translateX(0);
        opacity: 1;
      }
    }
  }

  .overlay-container {
    height: 100%;
    width: 50%;
    background-image: url('./assets/images/dog.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 100;
  }
}

.delete__container {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  background: #fff;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;;
  z-index: 2500;
  padding: 2rem;
  border-radius: 10px;
}

.modal__text {
  font-size: 1.6rem;
  color: #000;
  opacity: 0.5;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: $fw-bolder;
}

.button__cancel {
  background: transparent;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.button__danger {
  background: red;
  color: #fff;
  margin-bottom: 1rem;
  border-radius: 10px;
}

.action__card {
  position: absolute;
  top: 12px;
  right: 10px;
  z-index: 1000;
  width: 80%;
  border-radius: 10px;
  .action__btn {
    background: #fff;
    border: none;
    outline: none;
    display: block;
    width: 100%;
    padding: 1rem;
    text-align: left;
    font-size: 1.6rem;
    &:hover {
      background: #eee;
      color: #000;
    }
  }
}

.interaction__btn {
  font-size: 1.8rem;
  margin-right: 1rem;
  padding: 0 0.5rem;
  background: none;
  display: inline-flex;
  align-items: center;
  .icon {
    margin-right: 0.5rem;
    padding: 0.5rem;
    border-radius: 20px;
    display: inline-grid;
    place-items: center;
    transition: all 0.5s ease-in;
  }

  &:hover {
    .icon {
      background: #e297a9;
    }
  }
}
